@font-face {
  font-family: 'LL Grey Light';
  src: local('☺︎'),
    url("fonts/GreyLLWeb-Light.woff2") format("woff2"),
    url("fonts/GreyLLWeb-Light.woff") format("woff");
}

@font-face {
  font-family: 'LL Grey Regular';
  src: local('☺︎'),
    url("fonts/GreyLLWeb-Regular.woff2") format("woff2"),
    url("fonts/GreyLLWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: 'LL Grey Medium';
  src: local('☺︎'),
    url("fonts/GreyLLWeb-Medium.woff2") format("woff2"),
    url("fonts/GreyLLWeb-Medium.woff") format("woff");
}

@keyframes slide_in {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}


/* HELPERS */

* {
    box-sizing: border-box;
}

/* UI */
.ui_pull_left {
    float: left;
}

.ui_pull_right {
    float: right;
}

.ui_pull_clear {
    clear: both;
    overflow: hidden;
}

.messages {
    margin-right: 1.2rem;
    animation: slide_in 0.8s;
    display: inline-block;
}

.message {
    font-family: 'LL Grey Regular';
    color: #484242;
    padding: 0.6rem 1.2rem;
}

.info {
    background-color: #b4f5ff;
}
.success {
    background-color: #bcff63;
}
.warning {
    background-color: #ffef35;
}
.error {
    background-color: #ff7600;
}

.label_medium {
    width: 10ch;
    display: inline-block;
}

input {
    font-family: 'LL Grey Light';
    font-size: 18px;
    line-height: 1.2em;
    background-color: transparent;
    padding: 0.7em 0.6em 0.5em 0.6em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    border: 0 none;
}

input:focus {
    outline: none;
}

input[type=text] {
    background-color: white;
    font-family: 'LL Grey Regular';
}

input[type=submit] {
    background-color: #484242;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #b113b1;
}

.input_full {
    width: 100%;
}

.input_half {
    width: 49.2%;
}


body {
    color: white;
    background-color: #272727;
    font-family: 'LL Grey Light';
    font-size: 18px;
    line-height: 1.2em;
}

strong {
    font-family: 'LL Grey Medium';
}

p, form, ul {
    padding: 0 0 0.6em 0;
}

a {
    color: #b113b1;
}

li {
    padding: 0.3em;
}

ul.striped li {
    padding: 0.7em 0.6em 0.5em 0.6em;

}

ul.striped li:nth-child(odd) {
    background-color: #383837;
}

h1, h2 {
    font-family: 'LL Grey Medium';
}

h1 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 0.6em;
}

.logo {
    color: white;
    text-decoration: none;
    /*letter-spacing: 0.08em;*/
}

.header {
    padding: 1.2rem 1.4rem;
    vertical-align: top;
}

.content {
    padding: 0.6rem 1.2rem;
}

.content_container {
    margin-bottom: 2.4rem;
}

.menu {
}

.menu_item {
    display: inline-block;
    padding: 0 0 0 0.6rem;
}

.menu_item a {
    text-decoration: none;
}

.menu_item.active a {
    color: white;
}

.menu_target:not(.active) {
    display: none;
}