@font-face {
  font-family: 'LL Grey Light';
  src: local('☺︎'),
    url("fonts/GreyLLWeb-Light.woff2") format("woff2"),
    url("fonts/GreyLLWeb-Light.woff") format("woff");
}

@font-face {
  font-family: 'LL Grey Regular';
  src: local('☺︎'),
    url("fonts/GreyLLWeb-Regular.woff2") format("woff2"),
    url("fonts/GreyLLWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: 'LL Grey Medium';
  src: local('☺︎'),
    url("fonts/GreyLLWeb-Medium.woff2") format("woff2"),
    url("fonts/GreyLLWeb-Medium.woff") format("woff");
}

@keyframes slide_in_margin {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}


/* HELPERS */

* {
    box-sizing: border-box;
}

.std_margin_top {
    margin-top: 1.2rem;
}

/* UI */
.ui_link {
    cursor: pointer;
}

.ui_pull_left {
    float: left;
}

.ui_pull_right {
    float: right;
}

.ui_pull_clear {
    clear: both;
    overflow: hidden;
}

.messages {
    margin-right: 1.2rem;
    animation: slide_in_margin 0.8s;
    display: inline-block;
}

.message {
    font-family: 'LL Grey Regular';
    color: #484242;
    padding: 0.6rem 1.2rem;
}

.ui_button {
    color: #484242;
    cursor: pointer;
}

.info {
    background-color: #b4f5ff;
    font-family: 'LL Grey Regular';
}
.success {
    background-color: #bcff63;
    font-family: 'LL Grey Regular';
}
.warning {
    background-color: #ffef35;
    font-family: 'LL Grey Regular';
}
.error {
    background-color: #ff7600;
    font-family: 'LL Grey Regular';
}

.label_medium {
    width: 10ch;
    display: inline-block;
}

input {
    font-family: 'LL Grey Light';
    font-size: 18px;
    line-height: 1.2em;
    background-color: transparent;
    padding: 0.7em 0.6em 0.5em 0.6em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    border: 0 none;
    border-radius: 0;
    -webkit-appearance: none;
    max-width: 24em;
}

input:focus {
    outline: none;
}

input[type=text],
input[type=datetime-local]
{
    background-color: white;
    font-family: 'LL Grey Regular';
}

input[type=datetime-local] {
    /* Size fix */
    padding-top: 0.5em;
    padding-bottom: 0.4em;
}

input[type=submit]:not(.ui_button) {
    background-color: #484242;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #b113b1;
}

.input_full {
    width: 100%;
    margin-bottom: -1px;
}

.input_half {
    width: 49.2%;
}


body {
    color: white;
    background-color: #272727;
    font-family: 'LL Grey Light';
    font-size: 18px;
    line-height: 1.2em;
}

strong {
    font-family: 'LL Grey Medium';
}

p, form, ul {
    padding: 0 0 0.6em 0;
}

a {
    color: #b113b1;
}

li {
    padding: 0.3em;
}

ul.striped li {
    padding: 0.7em 0.6em 0.5em 0.6em;

}

ul.striped li:nth-child(odd) {
    background-color: #383837;
}

h1, h2, h3 {
    font-family: 'LL Grey Medium';
}

h1, h2 {
    text-transform: uppercase;
}

h2, h3 {
    margin-bottom: 0.6em;
}

h2 {
    display: none;
}

section {
    margin-bottom: 1.2rem;
}

.logo {
    color: white;
    text-decoration: none;
    /*letter-spacing: 0.08em;*/
}

.header {
    padding: 1.2rem 1.4rem;
    vertical-align: top;
}

.content {
    padding: 0.6rem 0;
}

.content_container {
    vertical-align: top;
    margin-bottom: 2.4rem;
    padding: 0 1.2rem;
    width: 100%;
}


.menu_item {
    display: inline-block;
    padding: 0 0 0 0.6rem;
}

.menu_item a {
    text-decoration: none;
}

.menu_item.active a {
    color: white;
}

.menu_target:not(.active) {
    display: none;
}

.ui_toggle_target {
    max-height: 0;
    overflow-y: hidden;
}

.ui_toggle_container.ui_toggle_show .ui_toggle_target{
    max-height: 999px;
    transition: max-height 0.8s;
}

/* Chartist overrides */

.chart {
    font-size: 0.5em;
    position: relative;
    width: 100%;
    height: 12rem;
}

.axis_y_data {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1.2rem;
    right: 0.2rem;
}

.axis_y_data .row_container {
    position: relative;
    margin-bottom: -1px;
}

.axis_y_data .row_label_outer {
    position: absolute;
    width: 1.2rem;
    bottom: 0;
    text-align: right;
}

.axis_y_data .row_label_inner {
    position: absolute;
    right: 0.6rem;
    bottom: -1em;
    z-index: 99;
}


.row_container:nth-child(1) .row_line_outer {
    border-top: 1px solid white;
}

.axis_y_data .row_line_outer {
    position: absolute;
    left: 1.2rem;
    right: 0.2rem;
    height: 100%;
    border-bottom: 1px solid white;
    z-index: 99;
}

.axis_y_data .row_line_inner {
    border-bottom: white;
}

.axis_x_data {
    position: absolute;
    top: 0;
    left: 1.2rem;
    height: 100%;
    right: 0.2rem;
}

.axis_x_data .bar_container {
    border: 0.2rem solid #383837; /* Makes the gaps between the bars */
}

.axis_x_data .bar_label_outer {
    position: absolute;
    bottom: 0;
    height: 1.2rem;
    width: 100%;
    padding-top: 0.2rem
}

.axis_x_data .bar_label_inner {
    width: 100%;
    text-align: center;
}

.axis_x_data .bar_outer {
    position: absolute;
    width: 100%;
    bottom: 1.2rem;
    top: 0;
}

.axis_x_data .bar_inner {
    background-color: #b4f5ff;
    position: absolute;
    bottom: 2px; /* visual correction */
    width: 100%;
    z-index: 100;
}

.bar_container {
    vertical-align: bottom;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.bar {
    background-color: yellow;
}


.ct-chart {
    background-color: #383837;
    padding: 1.2rem 0.6rem 0 0.6rem;
    position: relative;
}

.ct-chart line.ct-bar {
    stroke: #b4f5ff;
}

.ct-grid.ct-vertical {
    stroke: rgba(255, 255, 255, 0.5);
    stroke-dasharray: none;
}

.ct-grid.ct-horizontal {
    display: none;
}

@media all and (min-width: 48em) {

    h2 {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu_target:not(.active) {
        /* Show all content on one page */
        display: inline-block;
    }

    .mq_medium_half {
        width: 49.5%;
        display: inline-block;
    }
}

@media all and (min-width: 72em) {
    .mq_medium_half {
        width: auto;
    }

    .content_container {
        width: 33%;
    }
}