{% extends 'logger/base.html' %}

{%block logo %}
    <h1 class="ui_pull_left">
        <a href="{% url 'logger:home' token %}" class="logo">Log_</a>
    </h1>
{% endblock %}

{% block menu %}
    <ul class="menu ui_pull_right">
            <li class="menu_item active"><a class="menu_link" href="#add" data-action="menu_add">add</a></li>
            <li class="menu_item"><a class="menu_link" href="#show" data-action="menu_show">show</a></li>
            <li class="menu_item"><a class="menu_link" href="#config" data-action="menu_config">config</a></li>
    </ul>
{% endblock %}

{% block content%}
    <div id="add" class="mq_medium_half menu_target content_container active">
        <h2>Add</h2>
        {% for log_button in data.log_buttons %}
            <form action="{% url 'logger:add' 'log' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="token_id" value="{{token.id}}"/>
                <input type="hidden" name="log_button_id" value="{{log_button.id}}"/>
                <input class="input_full" type="submit" value="{{log_button.name}}" />
            </form>
        {% empty %}
            <p>Go to <a class="menu_link" href="#config">config</a> to create your first log button.</p>
        {% endfor %}
    </div>
    <div id="show" class="mq_medium_half menu_target content_container">
        <h2>Logs</h2>
        <p>Tap log entry to edit or delete.</p>
        {% for log_button in data.log_buttons %}
            <h3> {{log_button.name}}</h3>
            <section>
                <ul class="striped">
                    {% for log_entry in data.log_entries reversed %}
                        {% if log_entry.initiating_button_id == log_button.id %}
                            <li class="log_item_container ui_toggle_container">
                                <div class="log_item_display ui_link" data-action="js_toggle">
                                    <span class="label_medium">{{log_entry.date|date:'Y-m-d'}}</span>
                                    <span>{{log_entry.date|date:'H:i'}}</span>
                                </div>
                                <div class="ui_toggle_target">
                                    <br><!-- Give a little space -->
                                    <form action="{% url 'logger:update' 'update' 'log' log_entry.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="log_entry_id" value="{{log_entry.id}}"/>
                                        <input id="time_{{log_entry.id}}" class="input_full" name="log_entry_date" value="{{log_entry.date|date:'Y-m-d'}}T{{log_entry.date|date:'H:i'}}" type="datetime-local" required="required">
                                        <input class="input_full" type="submit" value="Update log" />
                                    </form>
                                    <form action="{% url 'logger:update' 'delete' 'log' log_entry.id %}" method="post">
                                        {% csrf_token %}
                                        <input name="log_entry_date" value="{{log_entry.date|date:'Y-m-d'}}T{{log_entry.date|date:'H:i'}}" type="hidden" required="required">
                                        <input type="hidden" name="log_entry_id" value="{{log_entry.id}}"/>
                                        <input class="input_small ui_button warning" type="submit" value="Delete log" />
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!-- TODO: Show something if list is empty -->
                </ul>
            </section>
        {% endfor %}
    </div>
    <div id="config" class="menu_target content_container">
        <h2>Config</h2>
        <section>
            <h3>Add log button</h3>
            <form action="{% url 'logger:add' 'button' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="token_id" value="{{token.id}}"/>
                <input class="input_half" type="text" name="button_name" placeholder="Enter Button name" />
                <input class="input_half" type="submit" value="Add new Button" />
            </form>
        </section>
        {% if data.log_buttons %}
            <section>
                <h3>Edit log buttons</h3>
                <ul class="striped">
                    {% for log_button in data.log_buttons %}
                        <li class="ui_toggle_container">
                            <div class="ui_link" data-action="js_toggle">
                                {{log_button.name}}
                            </div>
                            <div class="ui_toggle_target">
                                <br>
                                <form action="{% url 'logger:update' 'update' 'button' log_button.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="input_full" type="text" name="button_name" value="{{log_button.name}}" />
                                    <input class="input_full" type="submit" value="Rename button" />
                                </form>
                                <br>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
{% endblock %}